<ul class="list-unstyled sidebar-menu form-attachments">
	<li class="divider"></li>
	<li class="h6 attachments-label">{%= __("Attachments") %}</li>
	<li><a class="strong add-attachment">{%= __("Attach File") %}
		<i class="octicon octicon-plus" style="margin-left: 2px;"></i></li></a>
</ul>
