<div class="grid-form-heading">
	<div class="toolbar grid-header-toolbar">
		<span class="panel-title">
            {%= __("Editing Row") %} #<span class="grid-form-row-index"></span></span>
		<button class="btn btn-default btn-xs pull-right" style="margin-left: 7px;">
			<i class="octicon octicon-check visible-xs" style="padding-bottom: 2px;"></i>
			<span class="hidden-xs octicon octicon-triangle-up"></span></button>
			{%= __("Save") %}</button>
		<button class="btn btn-danger btn-xs pull-right grid-delete-row">
			<i class="octicon octicon-trashcan"
				style="padding-bottom: 2px; margin-top: 1px;"></i>
		</button>
	</div>
</div>
<div class="grid-form-body">
	<div class="form-area"></div>
	<div class="grid-footer-toolbar clearfix hidden-xs">
		<button class="btn btn-default btn-xs pull-right grid-append-row"
			style="margin-left: 7px;">
			{%= __("Save And Add New") %}</button>
	</div>
</div>
