<div class="page-head">
	<div class="container">
		<div class="row">

			<div class="col-md-7 col-sm-8 col-xs-6 page-title">
				<!-- title -->
				<h1>
						<ul class="nav navbar-nav" id="navbar-breadcrumbs"></ul>

						<div class="title-image hide hidden-md hidden-lg">
						</div>

						<div class="ellipsis title-text"></div>
						<span class="indicator hide"></span>
				</h1>
			</div>
			<div class="text-right col-md-5 col-sm-4 col-xs-6 page-actions">
				<!-- ID and icon buttons -->
				<span class="checked-items-status text-ellipsis text-muted small hide hidden-xs hidden-sm" style="margin-right: 20px;">## items selected</span>
				<h6 class="ellipsis sub-heading hide text-muted"></h6>
				<span class="page-icon-group hide hidden-xs hidden-sm"></span>

				<!-- buttons -->


				<div class="btn-group actions-btn-group hide">
						<button type="button" class="btn btn-primary btn-sm dropdown-toggle"
								data-toggle="dropdown" aria-expanded="false">
								<span class="hidden-xs">
									{%= __("Actions") %} <span class="caret"></span>
								</span>
								<span class="visible-xs octicon octicon-check"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
						</ul>
				</div>
				<button class="btn btn-primary btn-sm hide primary-action"></button>
			</div>
		</div>

	</div>
</div>
<div class="container page-body">
	<div class="page-toolbar hide">
		<div class="container">
		</div>
	</div>
	<div class="page-wrapper">
		<div class="page-content">
			<div class="workflow-button-area btn-group pull-right hide"></div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
