<div class="list-row list-row-head">
    <div class="row doclist-row">
        <div class="col-xs-12
			{% if (list.meta.title_field && !list.settings.hide_name_column) { %}
                col-sm-12
            {% } else { %}
                col-sm-12
            {% } %} list-row-left">
            <!-- title + columns -->
            {%= main %}
        </div>

    </div>
</div>
