<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,
		maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Frappe Desk</title>
	<link rel="shortcut icon"
		href="{{ favicon or "/assets/frappe/images/favicon.png" }}" type="image/x-icon">
	<link rel="icon"
		href="{{ favicon or "/assets/frappe/images/favicon.png" }}" type="image/x-icon">
	{% for include in include_css -%}
	<link type="text/css" rel="stylesheet" href="{{ include }}">
	{%- endfor -%}
</head>
<body>
	<div class="centered splash" style="width: 200px; height: 200px;">
        <img src="{{ splash_image or "/assets/frappe/images/frappe-bird-thin.svg" }}">
    </div>
	<div class="main-section">
		<header></header>
		<div id="body_div"></div>
		<footer></footer>
	</div>

	<!-- hack! load background image asap, before desktop is rendered -->
	{% if background_image %}
	<img src="{{ background_image }}" style="height: 1px; width: 1px; margin-bottom: -1px;">
	{% endif %}

	<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>

	<script type="text/javascript">
	window._version_number = "{{ build_version }}";
	// browser support
	window.app = true;
	window.dev_server = {{ dev_server }};

	if(!window.frappe) window.frappe = {};

	frappe.boot = {{ boot }};

	frappe.csrf_token = "{{ csrf_token }}";

	</script>

	{% for include in include_js %}
	<script type="text/javascript" src="{{ include }}"></script>
	{% endfor %}
	{% include "templates/includes/google_analytics.html" %}

	{% for sound in (sounds or []) %}
	<audio preload="auto" id="sound-{{ sound.name }}" volume={{ sound.volume or 1 }}>
		<source src="{{ sound.src }}"></source>
	</audio>
	{% endfor %}
</body>
