{% extends "templates/web.html" %}

{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
</style>
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->

<div class="login-content">
	<form class="form-signin form-login" role="form">

		<div class="login_header">تسجيل الدخول</div>

		<input type="text" id="login_email" style="direction: rtl"
			class="form-control" placeholder="البريد الإلكتروني" required autofocus>

		<input type="password" id="login_password" style="direction: rtl"
			class="form-control" placeholder="كلمة المرور" required>

		<div>
			<!-- <p style="float:left" class="text-center small"><input type="checkbox" value="remember-me"> Remember me </p> -->
			<p style="float:right" class="text-center small"><a href="#forgot">نسيت كلمة المرور</a></p>
		</div>

		<button class="btn btn-lg btn-default btn-block btn-login" type="submit">تسجيل الدخول</button>



		<div class='padding'></div>
	</form>

	<form class="form-signin form-signup hide" role="form">
		<input type="text" id="signup_fullname"
			class="form-control" placeholder="{{ _('Full Name') }}" required autofocus>
		<input type="email" id="signup_email"
			class="form-control" placeholder="{{ _('Email Id') }}" required>
		<br>
		<button class="btn btn-lg btn-default btn-block btn-signup" type="submit">{{ _("Sign up") }}</button>
		<p class="text-center small">
			{{ _("Have an account? ") }} <a href="#login" class="blue">{{ _("Login") }}</a>
		</p>
	</form>

	<form class="form-signin form-forgot hide" role="form">
		<input type="email" id="forgot_email"
			class="form-control" placeholder="{{ _('Email Id') }}" required autofocus>
		<br>
		<button class="btn btn-lg btn-default btn-block btn-forgot" type="submit">{{ _("Send Password") }}</button>
		<p class="text-center small">
		<br><a href="#login" class="blue">{{ _("Back to Login") }}</a>
	</p>
	</form>
</div>
{% endblock %}

{% block script %}
	<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
