<div class="filter-box">
	<div class="list_filter row">
		<div class="fieldname_select_area col-sm-4 form-group ui-front"></div>
		<div class="col-sm-2 form-group">
			<select class="condition form-control">
				<option value="=">{%= __("Equals") %}</option>
				<option value="like">{%= __("Like") %}</option>

			</select>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="filter_field pull-left" style="width: calc(100% - 70px)"></div>
			<div class="filter-actions pull-left">
				<a class="set-filter-and-run btn btn-primary pull-left"><i class=" fa fa-check"></i></a>
				<a class="small grey remove-filter pull-left"><i class="octicon octicon-trashcan visible-xs"></i>
					<span class="hidden-xs">{%= __("Remove") %}</span></a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
